.cta {
    display: flex;
    flex-direction: row;
    .cta__img {
        margin: 216px 113px 109px 119px;
    }
    .cta__items {
        margin-top: 285px;
        #cta__items-text1 {
            @include feature__text1;
            margin-bottom: 17px;
        }
        #cta__items-text2 {
            @include feature__text2;
            margin-bottom: 35px;
        }
        #cta__items-text3 {
            @include feature__text1;
        }
        #cta__items-text4 {
            @include cta__items-text4;
            margin-bottom: 34px;
        }
        .cta__button {
            display: flex;
            flex-direction: row;
            #cta__email {
                display: block;
                min-height: 54px;
                width: 235px;
                border-radius: 30px;
                padding-left: 39px;                   
                border: none;
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.1px;
                margin-right: 12px;
            }
            #cta_btn1 {
                text-decoration: none;
                #cta_btn1-1 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #2091F9;
                    min-height: 54px;
                    font-size: 16px;
                    color: #ffffff;
                    padding: 19px 38px;
                    cursor: pointer;
                    border-radius: 30px 30px;
                    border: none;
                }
            }
        }
    }
}