@mixin email {
    width: 100%;
    padding: 19px 0px 19px 20px;
    background-color: #f5f5f5;
    border-radius: 30px;
    border: 1px solid #e8e8e8;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px; 
    line-height: 16px;          
    letter-spacing: 0.1px;
    color: #18171D;
    margin-bottom: 45px;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    .contact__item1 {
        @include feature__text2;
        margin-top: 210px;
    }
    .contact__item2 {
        @include feature__text3;
        margin-top: 27px;
        text-align: center;
    }
    .contact__item3 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 165px;
        margin-top: 75px;
        margin-bottom: 75px;
    }
    .contact__item5 {
        display: flex;
        flex-direction: row;
        .item51 {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 35px;
            margin-top: 60.17px;
            #contact__item5-4 {
            @include contact__item5-5;
            margin-top: 20.17px;
            }
        }
        .item52 {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 35px;
            margin-top: 68.96px;
            #contact__item5-5 {
            @include contact__item5-5;
            text-decoration: none;
            margin-top: 20.96px;
            }
        }
        .item53 {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 74.69px;
            #contact__item5-6 {
            @include contact__item5-5;
            text-decoration: none;
            margin-top: 20.69px;
            }
        }
    }
    .contact__item6 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 868px;
        height: 670px;
        margin-top: 60px;
        padding: 55px 50px 52px 50px;
        border-radius: 20px;
        background-color: #ffffff;
        margin-bottom: 99px;
        .item6_1 {
            font-family: 'Roboto', sans-serif;
            font-weight: 900;
            font-size: 22px; 
            line-height: 33px;          
            letter-spacing: 0.1px;
            color: #252b42;
            margin-bottom: 45px; 
        }
        .item6_2 {
            @include email;
        }
        .item6_3 {
            @include email;            
        }
        .item6_4 {
            width: 100%;
            height: 193px;
            background-color: #f5f5f5;
            border: 1px solid #e8e8e8;
            font-family: 'Roboto', sans-serif;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 15px;
            padding: 23px 0px 154px 20px;
            margin-bottom: 45px;
        }
        #contact__button1 {
            align-self: flex-start;
            text-decoration: none;
            #contact__button1-1 {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #2091f9;
                min-height: 16px;
                font-size: 16px;
                font-weight: 500;
                color: #ffffff;
                padding: 18px 54px;
                cursor: pointer;
                border-radius: 30px 30px;
                border: none;

            }
        }
    }
}